* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

:root {
  --bg-royal-900: #010B24;
  --bg-royal-700: #000E31;
  --bg-royal-500: #071A4C;
  --brand-900: #957E35;
  --brand-800: #AC9859;
  --brand-700: #D5C38A;
  --brand-500: #CCBC6F;
  --brand-400: #E4D694;
  --brand-300: #F3E8B9;
  --white: #FFFFFF;
  --black: #00040F;
  --gray: #989898;

  --font-family: "Barlow Condensed", sans-serif;
  --h1: 800 24px/140% var(--font-family);
  --h2: 600 16px/140% var(--font-family);
  --h3: 500 14px/140% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-span: 400 14px/145% var(--font-family);
  --text-p: 300 14px/160% var(--font-family);
}

body {
  background-image: url(/src/assets/images/BG.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
